* {
    box-sizing: border-box;
}

.App-header img {
    margin: 0 auto;
}

footer {
    margin-top: 50px;
}

footer a {
    color: #a07959;
}

@media (max-width:768px) {
    footer {
        text-align: center;
    }
    footer p {
      font-size: 15px;
    }
    .App-header img {
        max-width: 100%;
    }
}