.phonetics {
    margin-top: 20px;
}

.phonetics .phonetics-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.phonetics .phonetics-text-div {
    padding-top: 10px;
    padding-left: 15px;
}

.sound-icon img{
    width: 50px;
    cursor: pointer;
}