.photos {
    max-width: 80%;
    margin: 0 auto;
}

.images-div {
    position: relative;
}

.frame {
    border-radius: 4px;
    position: relative;
    filter: drop-shadow(8px 8px 10px gray);
}

.word-photo {
    position: absolute;
    top: 35%;
    right: 11%;
    border-radius: 4px;
    filter: sepia(60%);
}

@media (max-width:1200px ) {
    .photos {
        display: none;
    }
}